.root {
    -fx-background-image: url("../Assets/background.png");
    -fx-background-size: cover;
    -fx-background-position: center;
    -fx-background-repeat: no-repeat;
}

.back-button {
    -fx-background-image: url("../Assets/back-button.png");
    -fx-background-size: cover;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-border-color: transparent;
    -fx-background-color: transparent;  /* removes default gray */
    -fx-background-radius: 0;
    -fx-transition: all 0.2s ease-in-out;
}

.back-button:hover {
    -fx-scale-x: 1.1; /* Increases width */
    -fx-scale-y: 1.1; /* Increases height */
}

.text{
    -fx-background-color: #c38f6e;
}

@font-face {
    font-family: "Upheaval";
    src: url("../Assets/upheavtt.ttf");
}

.title-label {
    -fx-background-image: url("../Assets/PlayGameScreen/title.png");
    -fx-background-repeat: no-repeat;
    -fx-background-size: cover;
    -fx-background-position: center center;
    -fx-text-fill: #272744; /* Optional: text color */
    -fx-font-weight: bold; /* Optional: bold font */
    -fx-font-family: "Upheaval";
    -fx-alignment: center;
}

.save-slots {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-background-radius: 0;
    -fx-border-radius: 0;
    -fx-transition: all 0.2s ease-in-out;
}

.save-slots:hover {
    -fx-scale-x: 1.05; /* Increases width */
    -fx-scale-y: 1.05; /* Increases height */
}

.trash-button {
    -fx-background-image: url("../Assets/PlayGameScreen/trash-button.png");
    -fx-background-size: cover;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-border-color: transparent;
    -fx-background-color: transparent;  /* removes default gray */
    -fx-background-radius: 0;
    -fx-border-radius: 0;
    -fx-transition: all 0.2s ease-in-out;

}

.newGameButton{
    -fx-background-image: url("../Assets/PlayGameScreen/empty-save-button.png");
    -fx-background-size: cover;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-border-color: transparent;
    -fx-background-color: transparent;  /* removes default gray */
    -fx-background-radius: 0;
    -fx-border-radius: 0;
    -fx-transition: all 0.2s ease-in-out;
}
.newGameButton:hover {
    -fx-scale-x: 1.05; /* Increases width */
    -fx-scale-y: 1.05; /* Increases height */
}

.button:disabled {
    -fx-opacity: 0.52;
}

.trash-button:hover {
    -fx-scale-x: 1.1; /* Increases width */
    -fx-scale-y: 1.1; /* Increases height */
}

.overallPane {
    -fx-background-color: rgba(0, 0, 0, 1);

}

.highlightPane {
    -fx-background-color: rgb(0, 0, 0);

}